<!DOCTYPE html>
<html>
  <head>
    <title>Scrapper...</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="search_block">
    <form action="/collections" method="POST" >
    	<input type="text" name="name" />
    	<button type="submit" >Save</button>
    </form></div>
  </body>
</html>
